@model IEnumerable<kioskigospDALL.Models.Kiosk>



@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">База киосков Гомельсклгл филиала РУП "Белсоюзпечать"</h1>
    <table>
        <tr>
            <td>Номер</td>
            <td>Город</td>
            <td>Адрес</td>
            <td>Тип</td>
            <td>площадь</td>
        </tr>
    
            }
    </table>

</div>
